<!DOCTYPE html>
<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>
            {{paragraph1}}
            </p>
            <p>
            {{paragraph2}}
        </p>
        <a href={{githubLink}}>My GitHub</a>
    </div>
    {{>footer}}
</body>

</html>